Source: srain
Section: net
Priority: optional
Maintainer: Anuradha Weeraman <anuradha@debian.org>
Build-Depends: debhelper-compat (= 13),
	       meson,
	       ninja-build,
	       libgtk-3-dev,
	       libconfig-dev,
	       libsoup2.4-dev,
	       libssl-dev,
	       libsecret-1-dev,
	       python3-sphinx
Standards-Version: 4.6.0
Homepage: https://srain.im
Vcs-Browser: https://salsa.debian.org/debian/srain
Vcs-Git: https://salsa.debian.org/debian/srain.git
Rules-Requires-Root: no

Package: srain
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${sphinxdoc:Depends}
Description: graphical IRC client
 Srain is a modern IRC client with a GTK+ GUI.
